---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Tutor en CoderHouse",
    company: "CoderHouse",
    description:
      "Dictado de clases y correcion de trabajos a alumnos en cursos de React, Backend y Python",
  },
  {
    date: "Octubre 2021",
    title: "Desarrollador Full Stack",
    company: "Alpha development",
    description:
      "Migración de proyectos de WordPress a stack MERN. Participación en el proceso de desarrollo de base de datos a interaccion con el usuario",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
