---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2021 - 2023",
    title: "Tutor en CoderHouse",
    company: "CoderHouse",
    description:
      "Dictado de clases y correcion de trabajos a alumnos en cursos de React, Backend y Python",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
