.CtnService{
    display: flex;
    flex-flow: row wrap;
    margin-left: 6rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}


.boxService{
width: 23rem;
height: 20rem;
border-radius: 15px;
background: linear-gradient(145deg, #1f1f1f, #1a1a1a);
box-shadow:  10px 10px 15px #191919,
             -10px -10px 15px #212121;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
padding: 3rem;
text-align: center;

&:hover{
     border-bottom: 5px solid #69C9D0;
 }
}
.boxService:hover .svgService{
    fill: #69C9D0;
}

.svgService{
    margin-top: -17%;
    margin-right: 0;
}
.TitleService{
    margin-top: 10%;
}

.TextService{
    margin-top: 7%;
}