@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap");
@import url(./svgIcons.css);
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #1d1d1d;
  position: relative;
}

span {
  font-family: "Almarai", sans-serif;
  font-size: 4vw;
}

ul {
  line-height: 2rem;
}

svg {
  margin-right: 1rem;
}

.Home {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #d7d1d1;
}

.TitleJ {
  color: #ee1d52;
  text-shadow: #69c9d0 0.2rem 0rem;
}

.LetraDiv {
  -webkit-transform: rotateZ(340deg);
          transform: rotateZ(340deg);
}

.Letra {
  margin-right: 22vw;
  font-size: 20vw;
  /*  width: 80%;
    height: 80%; */
  font-family: "Almarai", sans-serif;
  color: #ee1d52;
  text-shadow: #69c9d0 1rem 0rem;
}

.ctn-button {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background-color: #1d1d1d;
  cursor: pointer;
  color: #69c9d0;
  z-index: 2;
  line-height: 50px;
  letter-spacing: 3px;
  display: block;
  text-align: center;
  margin-top: 3rem;
  height: 3rem;
  width: 14rem;
  border: 2px #69c9d0 solid;
  background-image: linear-gradient(45deg, #69c9d0 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.ctn-button:hover {
  background-position: 0%;
  color: #302f2f;
}

.NavItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
}

.options {
  display: none;
  color: #d7d1d1;
}

hr {
  border-color: #282828;
}

li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

li:hover svg {
  display: none;
}

li:hover .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

li::after {
  position: absolute;
  content: "";
  background-color: rgba(90, 84, 84, 0.2);
  border-radius: 50%;
  z-index: -1;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
}

li:hover::after {
  border-radius: 0%;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  cursor: pointer;
}

.LogoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nombrelogo {
  color: #d7d1d1;
  font-size: 1.5em;
}

.subtitle {
  text-align: center;
  color: #8f8d8d;
  font-size: 0.6em;
  font-weight: 100;
}

.LetraNav {
  font-family: "Almarai", sans-serif;
  color: #ee1d52;
  text-shadow: #69c9d0 0.2rem 0rem;
  font-size: 5.5em;
}

.hamburger {
  display: none;
}

.ulItem {
  display: none;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 42%;
  cursor: pointer;
}

.AboutMe {
  background-color: #d7d1d1;
}

@media screen and (max-width: 768px) {
  .LetraDiv {
    display: none;
  }
  span {
    font-family: "Almarai", sans-serif;
    font-size: 7vw;
  }
  .arrow {
    position: absolute;
    top: 90%;
    left: 30%;
    cursor: pointer;
  }
  .LogoNav {
    display: none;
  }
  li {
    display: none;
  }
  .NavItems {
    display: none;
  }
  .hamburger {
    display: block;
    top: 0%;
    width: 100%;
    height: 1.5%;
    background-color: #1d1d1d;
  }
  .IconHamburguer {
    position: fixed;
    padding-left: 90%;
    padding-top: 1rem;
    width: 100%;
    z-index: 100;
    background-color: #1d1d1d;
  }
  .ulItemClose {
    overflow: hidden;
    height: 0;
    top: 0;
    left: 0;
  }
  .ulItem {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 10;
    padding-top: 3rem;
    background-color: #1d1d1dD9;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2rem;
    height: 3rem;
    margin-top: 3rem;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=index.css.map */