@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap");
@import url(./svgIcons.css);
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #1d1d1d;
}

span {
  font-family: 'Almarai', sans-serif;
  font-size: 4rem;
}

ul {
  line-height: 2rem;
}

svg {
  margin-right: 1rem;
}

.Home {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #D7D1D1;
}

.TitleJ {
  color: #EE1D52;
  text-shadow: #69C9D0 0.2rem 0rem;
}

.LetraDiv {
  -webkit-transform: rotateZ(340deg);
          transform: rotateZ(340deg);
}

.Letra {
  margin-right: 19rem;
  font-size: 22rem;
  font-family: 'Almarai', sans-serif;
  color: #EE1D52;
  text-shadow: #69C9D0 1rem 0rem;
}

.ctn-button {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background-color: #1d1d1d;
  cursor: pointer;
  color: #69C9D0;
  z-index: 2;
  line-height: 50px;
  letter-spacing: 3px;
  display: block;
  text-align: center;
  margin-top: 3rem;
  height: 3rem;
  width: 14rem;
  border: 2px #69C9D0 solid;
  background-image: linear-gradient(45deg, #69C9D0 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.ctn-button:hover {
  background-position: 0%;
  color: #302F2F;
}

.NavItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
}

.options {
  display: none;
  color: #D7D1D1;
}

hr {
  border-color: #282828;
}

li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

li:hover svg {
  display: none;
}

li:hover .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

li::after {
  position: absolute;
  content: "";
  background-color: rgba(90, 84, 84, 0.2);
  border-radius: 50%;
  z-index: -1;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
}

li:hover::after {
  border-radius: 0%;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  cursor: pointer;
}

.LogoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nombrelogo {
  color: #D7D1D1;
  font-size: 1.5em;
}

.subtitle {
  text-align: center;
  color: #8f8d8d;
  font-size: 0.6em;
  font-weight: 100;
}

.LetraNav {
  font-family: 'Almarai', sans-serif;
  color: #EE1D52;
  text-shadow: #69C9D0 0.2rem 0rem;
  font-size: 5.5em;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 42%;
  cursor: pointer;
}

.AboutMe {
  background-color: #D7D1D1;
}
/*# sourceMappingURL=index.css.map */